openapi: 3.0.3
info:
  title: LintasPOS API V1
  version: 1.0.0
  description: REST API untuk aplikasi Android LintasPOS.
servers:
  - url: https://lintaspos.ddev.site/api_v1
  - url: https://lintaspos.co-id.id/api_v1
tags:
  - name: System
  - name: Auth
paths:
  /health:
    get:
      tags: [System]
      security: []
      responses:
        '200':
          description: API aktif
          content:
            application/json:
              schema: {$ref: '#/components/schemas/SuccessResponse'}
  /auth/login:
    post:
      tags: [Auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [identity, password]
              properties:
                identity: {type: string}
                password: {type: string, format: password}
                device_name: {type: string}
                device_uuid: {type: string}
                platform: {type: string, example: android}
                app_version: {type: string, example: 1.0.0}
      responses:
        '200': {description: Login berhasil}
        '401': {description: Kredensial tidak valid}
  /auth/logout:
    post:
      tags: [Auth]
      security: [{bearerAuth: []}]
      responses:
        '200': {description: Logout berhasil}
        '401': {description: Token tidak valid}
  /auth/me:
    get:
      tags: [Auth]
      security: [{bearerAuth: []}]
      responses:
        '200': {description: User aktif}
        '401': {description: Token tidak valid}
  /kategori:
    get:
      tags: [Master Data]
      security: [{bearerAuth: []}]
      parameters:
        - {name: page, in: query, schema: {type: integer, minimum: 1, default: 1}}
        - {name: per_page, in: query, schema: {type: integer, minimum: 1, maximum: 100, default: 20}}
        - {name: search, in: query, schema: {type: string}}
        - {name: sort, in: query, schema: {type: string, enum: [id, nama, tgl_input, created_at, updated_at]}}
        - {name: direction, in: query, schema: {type: string, enum: [asc, desc]}}
      responses:
        '200': {description: Daftar kategori}
        '401': {description: Token tidak valid}
    post:
      tags: [Master Data]
      security: [{bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/KategoriInput'}
      responses:
        '201': {description: Kategori dibuat}
        '422': {description: Validasi gagal}
  /kategori/{id}:
    parameters:
      - {name: id, in: path, required: true, schema: {type: integer}}
    get:
      tags: [Master Data]
      security: [{bearerAuth: []}]
      responses:
        '200': {description: Detail kategori}
        '404': {description: Kategori tidak ditemukan}
    put:
      tags: [Master Data]
      security: [{bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/KategoriInput'}
      responses:
        '200': {description: Kategori diperbarui}
        '422': {description: Validasi gagal}
    delete:
      tags: [Master Data]
      security: [{bearerAuth: []}]
      responses:
        '200': {description: Kategori dihapus}
        '404': {description: Kategori tidak ditemukan}
  /satuan:
    get:
      tags: [Master Data]
      security: [{bearerAuth: []}]
      parameters:
        - {name: page, in: query, schema: {type: integer, minimum: 1, default: 1}}
        - {name: per_page, in: query, schema: {type: integer, minimum: 1, maximum: 100, default: 20}}
        - {name: search, in: query, schema: {type: string}}
        - {name: sort, in: query, schema: {type: string, enum: [id, nama, created_at, updated_at]}}
        - {name: direction, in: query, schema: {type: string, enum: [asc, desc]}}
      responses:
        '200': {description: Daftar satuan}
        '401': {description: Token tidak valid}
    post:
      tags: [Master Data]
      security: [{bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/SatuanInput'}
      responses:
        '201': {description: Satuan dibuat}
        '422': {description: Validasi gagal}
  /satuan/{id}:
    parameters:
      - {name: id, in: path, required: true, schema: {type: integer}}
    get:
      tags: [Master Data]
      security: [{bearerAuth: []}]
      responses:
        '200': {description: Detail satuan}
        '404': {description: Satuan tidak ditemukan}
    put:
      tags: [Master Data]
      security: [{bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/SatuanInput'}
      responses:
        '200': {description: Satuan diperbarui}
        '422': {description: Validasi gagal}
    delete:
      tags: [Master Data]
      security: [{bearerAuth: []}]
      responses:
        '200': {description: Satuan dihapus}
        '404': {description: Satuan tidak ditemukan}
  /barang:
    get: {tags: [Master Data], security: [{bearerAuth: []}], responses: {'200': {description: Daftar barang}}}
    post: {tags: [Master Data], security: [{bearerAuth: []}], requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/BarangInput'}}}}, responses: {'201': {description: Barang dibuat}, '422': {description: Validasi gagal}}}
  /barang/{id}:
    get: {tags: [Master Data], security: [{bearerAuth: []}], responses: {'200': {description: Detail barang}, '404': {description: Tidak ditemukan}}}
    put: {tags: [Master Data], security: [{bearerAuth: []}], requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/BarangInput'}}}}, responses: {'200': {description: Barang diperbarui}}}
    delete: {tags: [Master Data], security: [{bearerAuth: []}], responses: {'200': {description: Barang dihapus}}}
  /jasa:
    get: {tags: [Master Data], security: [{bearerAuth: []}], responses: {'200': {description: Daftar jasa}}}
    post: {tags: [Master Data], security: [{bearerAuth: []}], requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/JasaInput'}}}}, responses: {'201': {description: Jasa dibuat}}}
  /jasa/{id}:
    get: {tags: [Master Data], security: [{bearerAuth: []}], responses: {'200': {description: Detail jasa}}}
    put: {tags: [Master Data], security: [{bearerAuth: []}], requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/JasaInput'}}}}, responses: {'200': {description: Jasa diperbarui}}}
    delete: {tags: [Master Data], security: [{bearerAuth: []}], responses: {'200': {description: Jasa dihapus}}}
  /pelanggan:
    get: {tags: [Master Data], security: [{bearerAuth: []}], responses: {'200': {description: Daftar pelanggan}}}
    post: {tags: [Master Data], security: [{bearerAuth: []}], requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/PelangganInput'}}}}, responses: {'201': {description: Pelanggan dibuat}}}
  /pelanggan/{id}:
    get: {tags: [Master Data], security: [{bearerAuth: []}], responses: {'200': {description: Detail pelanggan}}}
    put: {tags: [Master Data], security: [{bearerAuth: []}], requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/PelangganInput'}}}}, responses: {'200': {description: Pelanggan diperbarui}}}
    delete: {tags: [Master Data], security: [{bearerAuth: []}], responses: {'200': {description: Pelanggan dihapus}}}
  /supplier:
    get: {tags: [Master Data], security: [{bearerAuth: []}], responses: {'200': {description: Daftar supplier}}}
    post: {tags: [Master Data], security: [{bearerAuth: []}], requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/SupplierInput'}}}}, responses: {'201': {description: Supplier dibuat}}}
  /supplier/{id}:
    get: {tags: [Master Data], security: [{bearerAuth: []}], responses: {'200': {description: Detail supplier}}}
    put: {tags: [Master Data], security: [{bearerAuth: []}], requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/SupplierInput'}}}}, responses: {'200': {description: Supplier diperbarui}}}
    delete: {tags: [Master Data], security: [{bearerAuth: []}], responses: {'200': {description: Supplier dihapus}}}
  /diskon:
    get: {tags: [Master Data], security: [{bearerAuth: []}], responses: {'200': {description: Daftar diskon}}}
    post: {tags: [Master Data], security: [{bearerAuth: []}], requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/DiskonInput'}}}}, responses: {'201': {description: Diskon dibuat}}}
  /diskon/{id}:
    get: {tags: [Master Data], security: [{bearerAuth: []}], responses: {'200': {description: Detail diskon}}}
    put: {tags: [Master Data], security: [{bearerAuth: []}], requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/DiskonInput'}}}}, responses: {'200': {description: Diskon diperbarui}}}
    delete: {tags: [Master Data], security: [{bearerAuth: []}], responses: {'200': {description: Diskon dihapus}}}
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    SuccessResponse:
      type: object
      required: [success, message, data, meta]
      properties:
        success: {type: boolean, example: true}
        message: {type: string}
        data: {type: object}
        meta:
          type: object
          properties:
            request_id: {type: string}
            timestamp: {type: string, format: date-time}
    KategoriInput:
      type: object
      required: [nama]
      properties:
        nama: {type: string, maxLength: 255}
        ket: {type: string}
        tgl_input: {type: string, format: date}
    SatuanInput:
      type: object
      required: [nama]
      properties:
        nama: {type: string, maxLength: 255}
        ket: {type: string}
    BarangInput:
      type: object
      required: [id_barang, kategori_id, nama_barang, merk, harga_beli, harga_jual]
      properties: {id_barang: {type: string}, kategori_id: {type: integer}, satuan_id: {type: integer}, nama_barang: {type: string}, merk: {type: string}, harga_beli: {type: integer}, harga_jual: {type: integer}, exp_date: {type: string, format: date}}
    JasaInput:
      type: object
      required: [id_jasa, kategori_id, nama, harga]
      properties: {id_jasa: {type: string}, kategori_id: {type: integer}, satuan_id: {type: integer}, nama: {type: string}, harga: {type: integer}, tgl_input: {type: string, format: date}}
    PelangganInput:
      type: object
      required: [nama_pelanggan]
      properties: {kode_pelanggan: {type: string}, nama_pelanggan: {type: string}, alamat_pelanggan: {type: string}, telepon_pelanggan: {type: string}, email_pelanggan: {type: string, format: email}}
    SupplierInput:
      type: object
      required: [nama_supplier]
      properties: {nama_supplier: {type: string}, alamat_supplier: {type: string}, telepon_supplier: {type: string}, email_supplier: {type: string, format: email}}
    DiskonInput:
      type: object
      required: [diskon]
      properties: {barang_id: {type: string}, diskon: {type: integer}, tgl_start: {type: string, format: date}, tgl_end: {type: string, format: date}}
