openapi: 3.0.3
info:
  title: LintasPOS API V1
  version: 1.0.0
  description: REST API untuk aplikasi Android LintasPOS.
servers:
  - url: https://lintaspos.ddev.site/api_v1
  - url: https://lintaspos.co-id.id/api_v1
tags:
  - name: System
  - name: Auth
paths:
  /health:
    get:
      tags: [System]
      security: []
      responses:
        '200':
          description: API aktif
          content:
            application/json:
              schema: {$ref: '#/components/schemas/SuccessResponse'}
  /auth/login:
    post:
      tags: [Auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [identity, password]
              properties:
                identity: {type: string}
                password: {type: string, format: password}
                device_name: {type: string}
                device_uuid: {type: string}
                platform: {type: string, example: android}
                app_version: {type: string, example: 1.0.0}
      responses:
        '200': {description: Login berhasil}
        '401': {description: Kredensial tidak valid}
  /auth/logout:
    post:
      tags: [Auth]
      security: [{bearerAuth: []}]
      responses:
        '200': {description: Logout berhasil}
        '401': {description: Token tidak valid}
  /auth/me:
    get:
      tags: [Auth]
      security: [{bearerAuth: []}]
      responses:
        '200': {description: User aktif}
        '401': {description: Token tidak valid}
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    SuccessResponse:
      type: object
      required: [success, message, data, meta]
      properties:
        success: {type: boolean, example: true}
        message: {type: string}
        data: {type: object}
        meta:
          type: object
          properties:
            request_id: {type: string}
            timestamp: {type: string, format: date-time}
