# Folder & file yang di-skip
.vscode/
.phpunit.cache/
.well-known/
design_template/*
database/*
!database/
!database/update/
!database/drop/
!database/update/*.sql
!database/drop/*.sql
adminDev/*
.ddev/*
mobile/node_modules/
mobile/dist/
mobile/android/.gradle/
mobile/android/.idea/
mobile/android/build/
mobile/android/capacitor-cordova-android-plugins/
mobile/android/capacitor.settings.gradle
mobile/android/*.jks
mobile/android/*.keystore

# File tertentu
AGENT.md
ATURAN.md
LintasPOS.md
TASK-TRANSAKSI-LAPORAN.md

# Optional (kalau mau skip juga)
.env
/vendor/
/node_modules/
/storage/*
!/storage/.gitignore
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
*.log
